@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins'), local('Poppins-Regular'), url('~assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

/* @font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/Roboto-Regular.ttf);
} */

/* @font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat'), local('Montserrat-Regular'), url(../fonts/Montserrat-Regular.ttf);
} */

body
{
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  text-align: center;
  line-height: 1.4;
  color: rgb(53, 53, 53);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  line-height: .9;
  color: rgb(204, 51, 17);
}